.lef{
    text-align: left;
}
.justify{
    text-align: justify;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}